body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}
.image{
    background-image: url(sud.jpg);
    min-height: 280px;
    /* center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* position navbar */
    position: relative;
}
.container{
    position: relative;
    margin: 20px;
    width: auto;
}
.topnav{
    overflow: hidden;
    background-color: rgb(59, 60, 128);
}
.topnav a{
    float: left;
    color: #000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav-right {
    float: right;
    margin: 0 7px;
    color: white;
    font-size: 25px;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
.text-col h2{
    color: black;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
.content{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 16px;
    color: rgb(114, 112, 112);
    
}
.content h1{
    color: black;
    font-size: 30px;
}
.content h2{
    font-size: 20px;
    color: black;
}
.footer{
    color: black;
    position: relative;
    font-size: 16px;
    text-align: center;
    padding: 30px;
}
.footer a{
    color: black;
    text-decoration: none;
    margin: 0 5px;
}