body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.image{
    background-image: url(15.jpeg);
    background-size: cover;
    height: 100vh;
}
nav{
    height: 80px;
    background: transparent;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    transition: 0.5s ease;
}
nav .logo {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
nav .logo img{
    border-radius: 20px;
}
nav .logo a{
    text-decoration: none;
    color: rgb(39, 42, 90);
}
nav .navbar{
    position: relative;
}
nav .navbar ul{
    display: flex;
    list-style: none;
}
nav .navbar ul li{
    margin: 0 7px ;
}
nav .navbar ul li a{
    position: relative;
    color: rgb(39, 42, 90);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
nav .navbar ul li a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
nav .navbar ul a:hover:before{
    width: 100%;
}

nav .menu-btn i{
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

@media (max-width: 940px) {
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i :before{
        content: "\f00d";
    }

    nav .navbar ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        display: block;
        text-align: center;
        transition: all 0.3s ease
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav .navbar ul li{
        margin: 40px 0;
    }
    nav .navbar ul li a{
        font-size: 20px;
        display: block;
    }
    nav .navbar ul a:hover:before{
        width: 100%;
    }
}
.content{
    margin-top: 27%;
    margin-left: 4%;
    color: #fff;
}
.content h1{
    font-size: 65px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.content p{
    font-size: 22px;
    font-family: 'Hanuman', serif;
}
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slide-left{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

/*--service--*/
#service{
    width: 100%;
    padding: 70px 0;
    text-align: center;
    padding-bottom: 70px;
}
.title-title{
    padding:70px 0;
    text-align: center;
}
.title-text h2{
    margin: auto;
    font-size: 30px;
    color: rgb(28, 37, 88);
    font-weight: bold;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.container .box{
    position: relative;
    background: rgb(215, 222, 252);
    
}
.container .box i{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.container .box h2{
    display: flex;

}
.icon p i{
    font-size: 30px;
}