body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.image{
    background-image: url(areas.png);
    min-height: 280px;
    /* center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* position navbar */
    position: relative;
}
.topnav{
    overflow: hidden;
    background-color: transparent;
}
.topnav a{
    float: left;
    margin-left: 10px;
    margin-right: 1;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    color:black;
}
.topnav-right{
    float:right;
    font-size: 20px;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

.text-col {
    color: black;
    text-align: center;
    padding: 30px;
    
}
.text-col h2{
    font-size: 40px;
    color: black;
}
.content{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 16px;
}
.content h1{
    color: black;
    font-size: 40px;
    margin: 20px;
}

.footer{
    color: black;
    position: relative;
    font-size: 16px;
    text-align: center;
    padding: 30px;
}
.footer a{
    color: black;
    text-decoration: none;
    margin: 0 5px;
}